.country{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color:black;
}
.country h3{
  width: 15rem;
  margin-top: 10px;
}
.country-data{
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.country img{ 
  border-top-left-radius: 6px ;
  border-top-right-radius: 6px;
}